@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;600;700&display=swap");
body {
  font-family: "Montserrat" !important;
  overflow-x: hidden !important;
}
.App {
  overflow: hidden;
}
.bg-container {
  width: 100vw;
  background-image: url(images/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  position: relative;
}
.start {
  color: white;
  display: flex;
  width: 100%;
  position: relative;
}
.menu {
  ul {
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    li:nth-child(3) {
      border-right: 1px solid white;
    }
    li:nth-child(n + 4) {
      padding-left: 3rem;
      padding-right: 0;
    }
    li {
      padding: 0 3rem 0 0;
      font-family: "Montserrat";
      a {
        font-size: 15px;
        font-weight: 500;
        text-decoration: none;
        color: white;
      }
    }
  }
}
.buttons-container {
  padding: 2.5rem 2rem;
  p {
    margin-bottom: 1.5rem;
    font-size: 1.25rem;
    font-weight: 700;
  }
  button {
    border: none;
    width: 11rem;
    height: 2.5rem;
    margin-right: 1.5rem;
    color: #ee8c19;
    border-radius: 7px;
  }
  button:nth-child(2) {
    color: white;
    background: transparent;
    border: 1px solid white;
  }
}
.logo {
  font-size: 61px;
  font-family: "Montserrat";
  font-weight: 700;
  padding: 0rem 1.25rem;
  display: inline;
  color: #ffffff33;
  border: 0.45rem solid #ffffff33;
}
.header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 2rem;
}

.text-container {
  padding: 8rem 3rem;
  h1 {
    margin-bottom: 1rem;
    font-size: 3.25rem;
    font-weight: 700;
  }
  p {
    font-size: 1rem;
  }
  .buttons-container {
    padding: 1rem 0;
  }
}
.white-circle {
  width: 150vw;
  height: 21.25rem;
  position: absolute;
  background: white;
  border-radius: 50%;
  bottom: -11.875rem;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: center;
}
.how-it-works-container {
  position: relative;
  text-align: center;
  h1 {
    font-weight: 700;
  }
  footer {
    padding: 4rem;
    p {
      font-size: 2.5rem;
      background: -webkit-linear-gradient(#f3a300, #f07a13);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.orange-btn {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 7px;
  top: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(#f3a300, #f07a13);
  span {
    position: relative;
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3.5px;
    width: 5px;
    transform: rotate(45deg);
  }
  span:nth-child(2) {
    top: -2.5px;
  }
}
.how-it-works {
  position: relative;
  display: flex;
}
.iphone1 {
  svg {
    margin-left: 1rem;
  }
}

.iphone2 {
  transform: translate(0, 10rem);
  flex-direction: row-reverse;
  .hiw-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  img {
    position: absolute;
    left: 5rem;
  }
}
.iphone3 {
  img {
    position: absolute;
    right: 0rem;
    top: -9rem;
  }
  svg {
    margin-right: 1rem;
  }
}
.iphone4 {
  padding-top: 14rem;
  transform: translate(0, 10rem);
  img {
    position: absolute;
    top: 0;
  }
  svg {
    margin-top: 4rem;
  }
  .hiw-text {
    transform: translate(-7rem, -3rem);
  }
}

.how-it-works-flow {
  padding: 4rem 0;
}
.how-it-works-horizontal-container {
  display: flex;
  padding: 4rem 0;
}
.gradient-text-container {
  display: flex;
  div {
    display: flex;
  }
  h1 {
    padding-left: 1rem;
    text-align: left;
    margin: auto;
  }
}
.hiw-text {
  width: 50%;
  margin: 0 auto;
  span {
    font-size: 4.375rem;
    background: -webkit-linear-gradient(#f3a300, #f07a13);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
  }
  h1 {
    font-size: 1.625rem;
    font-weight: 400;
    background: -webkit-linear-gradient(#f3a300, #f07a13);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  p {
    text-align: left;
  }
}
.pricing-container {
  padding: 2rem;
  background-image: linear-gradient(#2c1585, #541593);
  h1 {
    padding: 1.5rem 0 rem 0;
    color: white;
    font-size: 4rem;
    font-weight: 700;
    span {
      font-size: 0.95rem;
      font-weight: 400;
    }
  }
}
.pricing-box {
  position: relative;
  background: white;
  color: black;
  border-radius: 7px;
}

.pricing-box:nth-child(1) {
  margin-right: 1.25rem;
  width: calc(33% - 10px);
  min-width: 340px;
}
.pricing-box:nth-child(2) {
  width: calc(67% - 10px);
}
.pricing-box-header {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 3rem;
  border-bottom: 1px solid #f5b035;
  span:nth-child(1) {
    font-size: 1.25rem;
    margin-left: 2rem;
    font-weight: 700;
  }
  span:nth-child(2) {
    font-weight: 700;
    font-size: 40px;
    line-height: 0;
  }
  p:nth-child(1) {
    font-size: 2.5rem;
    font-weight: 700;
  }
}
.part-two-pricing {
  margin-left: 0;
  display: block;
  text-align: center;
  padding: 1.5rem;
  p:nth-child(1) {
    margin-bottom: 0;
  }
  p:nth-child(2) {
    font-weight: 600;
  }
}
.pricing-divider {
  display: flex;
}
.phone {
  position: absolute;
  left: 30px;
  top: -50%;
}
.list-container {
  padding: 1.75rem 0 0 2.5rem;
  ul {
    padding-left: 0;
    list-style: none;
    line-height: 2.5rem;
    li {
      display: flex;
      align-items: center;
    }
  }
  footer {
    p {
      font-size: 1.25rem;
      font-weight: 700;
    }
  }
}
.checkmark {
  display: inline-block;
  margin-right: 1rem;
  width: 22px;
  height: 22px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}

.checkmark_stem {
  position: absolute;
  width: 3px;
  height: 12px;
  background-color: #f5b035;
  left: 11px;
  top: 3px;
}

.checkmark_kick {
  position: absolute;
  width: 3px;
  height: 3px;
  background-color: #f5b035;
  left: 8px;
  top: 12px;
}

.lg-box-header {
  display: block;
  padding: 3rem 0 3rem 11rem;
  span {
    margin-left: 0 !important;
  }
}
.sm-box {
  margin-top: 0.5rem;
  text-align: center;
  font-weight: 600;
  font-size: 1.625rem;
  border-bottom: 1px solid #ee8c19;
  p:nth-child(1) {
    font-size: 1.25rem;
    background: -webkit-linear-gradient(#f3a300, #f07a13);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  p:nth-child(2) {
    line-height: 1.75rem;
    background-clip: unset;
    background: none;
  }
}
.basic {
  grid-column: 2;
  p {
    margin-bottom: 1.65rem;
  }
}
.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  li {
    grid-column: 1;
    list-style: none;
    padding: 0.5rem 2rem;
    &:nth-child(4) {
      margin-top: 2rem;
    }
  }
}
.line-container {
  transform: translate(0, -1px);
  border-bottom: 1px solid #ee8c19;
}
.part-two-boxlg {
  display: flex;
  padding: 4.6rem;
  justify-content: flex-end;
  div {
    padding: 1.5rem 5rem;
  }
}
.pricing-divider {
  padding-top: 5rem;
  footer {
    p {
      font-weight: 700;
      font-size: 1.25rem;
      margin-bottom: 1.75rem;
    }
  }
}
.rg-button {
  margin-right: 1rem !important;
  color: white !important;
  background: -webkit-linear-gradient(#f3a300, #f07a13) !important;
}
.lg-button {
  margin-right: 0;
  border: 1px solid #ee8c19 !important;
  color: #ee8c19 !important;
  background: transparent;
}
.register-try-box {
  padding: 2rem 0;
}
.sm-box-list {
  height: calc(100% - 19.125rem);
  display: flex;
  padding-top: 2rem;
  flex-direction: column;
  justify-content: space-between;
}
.join-apps-box {
  padding-bottom: 1.75rem;
  p {
    margin-bottom: 1rem !important;
  }
}
.premium {
  min-width: 200px;
  grid-column: 3;
  p {
    margin-bottom: 0;
  }
}
.mobile-menu {
  display: none;
}
.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
  transition: background-color 0.4s, transform 0.4s;
}
.change {
  position: fixed !important;
  top: 1rem !important;
  right: 1rem !important;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-4px, 5px);
  transform: rotate(-45deg) translate(-4px, 5px);
  background-color: black;
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-7px, -8px);
  transform: rotate(45deg) translate(-7px, -8px);
  background-color: black;
}
.mobile-menu {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.mobile-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 98;
  display: flex;
  justify-content: center;
  align-items: center;
  ul {
    padding: 0;
  }
  li {
    text-align: center;
    padding: 1.25rem 0;
    list-style: none;
    font-size: 1.5rem;
    a {
      text-decoration: none;
      color: black;
    }
  }
}

.menu-trigger {
  position: absolute;
  top: 0rem;
  z-index: 99;
  right: 0;
}
.checkmark-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  span {
    margin-right: 0 !important;
  }
}
.checkmark-container-basic {
  grid-column: 2;
  &:nth-child(5) {
    margin-top: 2rem;
  }
}
.checkmark-container-premium {
  grid-column: 3;
  &:nth-child(6) {
    margin-top: 2rem;
  }
}
.times-container-basic {
  font-size: 1.5rem;
  color: #c3c3c3;
}
.times {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c3c3c3;
}
#hall {
  padding-left: 0.5rem;
  border-radius: 7px;
  margin-bottom: 0.5rem;
  border: 1px solid black;
  outline: none;
  width: 8rem;
  height: 2rem;
  font-size: 16px;
  text-align: center;
}
.hidden {
  display: none;
}
.sale-span {
  font-size: 0.95rem;
  color: #2fa600;
}
.modal-input {
  display: flex;
  padding: 0.25rem 1rem;
  justify-content: space-between;
  align-items: center;
  input {
    width: 100%;
    max-width: 350px;
    margin-left: 10px;
  }
}
.modal-title {
  background: -webkit-linear-gradient(#f3a300, #f07a13);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.modal-body {
  padding: 0;
  padding-top: 1rem !important;
}
.modal-button {
  background: none;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}
.modal-button-container {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  button {
    outline: none;
  }
}
@media (min-width: 1450px) {
  .wider {
    max-width: 1450px !important;
  }
}
@media (min-width: 1500px) {
  .narrower {
    max-width: 1400px !important;
  }
}
